<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/cbfc923e72.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">


</head>

<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img width="200px" heigth="80px" src="/img/logo-mercado-liebre.svg" class="logo">
            <input class="buscar" type="search">
            <img src="/img/lupa.png" class="lupa" alt="">
            <h2 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fa-solid fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#"> Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="right-navbar">
                <li><a href="#">Crea tu cuenta<i class="fa-solid fa-credit-card"></i></a></li>
                <li><a href="#">ingresa <i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="#"> Mis compras<i class="fa-solid fa-cart-shopping"></i></a></li>

            </ul>

            <!-- <article class="banner">
                <div>
                <img src="/img/img-home-banner.jpg" alt="">
            </div>
            </article>
         -->
    </header>
    <main class="container">
        <section class="caja">

            <h1> Basado en la ultima visita</h1>
            <div>
                <img src="/img/img-cafetera-moulinex.jpg" alt="" class="producto">
            </div>
            <div>
                <img src="/img/logocarro2.png" alt="" class="car">
                <p class="bold"> $ 6.770</p>
                <p class="verde"> 40% Off </p>
                <p class="gris">Cafetera Moulinex</p>
            </div>
        </section>

        <section class="caja">

            <h1> Basado en la ultima visita</h1> 
            <div>
                <img src="/img/img-macbook-pro-2019.jpg" alt=""
                    id="bajartamaño" class="producto imagen2">
            </div>
            <div class="bajar">
                <img src="/img/logocarro2.png" alt="" class="car">
                <p class="bold"> $ 1.234.905</p>
                <p class="verde"> 15% Off </p>
                <p class="gris">macbook-pro-2019</p>
            </div>

        </section>

        <section class="caja">

            <h1 class="ajusteh1"> Ofertas</h1>
            <div class="acomdar">
                <img src="/img/img-samsung-galaxy-s10.jpg" alt=""
                    class="producto imagen3">
            </div>
            <div class="acomodar2">
                <img src="/img/logocarro2.png" alt="" class="car">
                <p class="bold"> $ 1.938.900</p>
                <p class="verde"> 55% Off </p>
                <p class="gris">samsung-galaxy-s10</p>
            </div>

        </section>
    </main>

    <!-- //formularios// -->
    <!-- <form action="/registro" method="POST" class="create-form">
        <div>
            <label> nombre del producto:</label>
            <input type="text" name="nombre">
        </div>
        <div>
            <label> precio:</label>
            <input type="text" name="precio" placeholder="123.56">
        </div>

        <div>
            <label>categoria:</label>
            <select name="categoria">
                <option value="hoga">hogar</option>
                <option value="electro">electro</option>
                <option value="indumentaria">indumentaria</option>
            </select>
        </div>
        <div>
            <label> descripcion:</label>
            <textarea name="descripcion"></textarea>
        </div>
        <div>
            <label>esta en oferta:</label>
            <input type="radio" name="en oferta">
        </div>
        <button type="reset">borrar</button>
        <button type="submit">guardar</button>


    </form> -->
    <footer >
        <div class="footerdisplay">
            <div class="ajustesection">
                <img src="/img/tarjeta azul.PNG" alt=""  class="icono">
                <h2> Pagá con tarjeta o efectivo</h2>
                <p class="parrafo-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o 
                    efectivo en puntos de pago. ¡Y siempre es seguro! </p>
            </div>
        
            <div class="ajustesection" >
                <img src="/img/ENVIO.PNG" alt=""  class="icono">
                <h2> Envío gratis desde $ 2.500 </h2>
                <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de 
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
        
            <div class="ajustesection" >
                <img src="/img/seguridad.PNG" alt=""  class="icono">
                <h2> Seguridad, de principio a fin </h2>
                <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, 
                    porque estás siempre protegid@.
                </p>
            </div>
        </div>
        
            <div class ="copyrigth">
                <p> Copyright © 1999-2020 MercadoLiebre S.R.L. </p>
            </div>
        
        </footer>
</body>

</html>